// @import '~/node_modules/compass-mixins/';
// @import '_colors.scss';
// @import './utilities/__utilities_base.scss';
// @import '@/template-bourbon/assets/css/fonts/veneer/veneer.css';
// @import '@/template-bourbon/assets/css/fonts/American_typewriter/american_typewriter/american_typewriter.css';

// BREAKPOINTS
$XLargeScreen: 1200px;
$LargeScreen:  1024px;
$MidScreen:    768px;
$MidScreenSm:  700px;
$SmallScreen:  480px;
$XSmallScreen: 320px;

// FONTS
$base-font-size   :1rem;
$base-line-height :1.7em;
$font             :"Helvetica Neue", Arial, sans-serif;
$font-head        :"Helvetica Neue", Arial, sans-serif;
$font-subhead     :"Helvetica Neue", Arial, sans-serif;
$font-copy        :"Helvetica Neue", Arial, sans-serif;

// ############################

html, html a {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background: #333;
  margin: 0;
}

// link colors (normal, hover, active, visited, focus)
// a {
//   @include link-colors(
//     $blue-dark,  // normal
//     $accent,     // hover
//     $blue-mid,   // active
//     $grey,       // visited
//     $blue-dark   // focus
//   );
// }

:focus:not(:focus-visible) {
  outline: none;
}
