// COLORS
$grey:       #333;
$blue-dark:  hsl(195, 22%, 35%);
$blue-mid:   hsl(205, 24%, 47%);
$blue-light: hsl(209, 29%, 66%);
$accent:     hsl(29, 100%, 50%);
$ivory:      hsl(49, 100%, 98%);
$orange:     hsl(303, 76%, 55%);
$paleyellow: hsla(60, 100%, 74%, 0.6);
$accent-red: #C02C19;
$white:      white;
$black:     black;

// link colors (normal, hover, active, visited, focus)
// a {
//   @include link-colors($blue-dark, // normal
//     $accent, // hover
//     $blue-mid, // active
//     $grey, // visited
//     $blue-dark // focus
//   );
// }
