@font-face {
    font-family: 'connection';
    src: url('connection.woff2') format('woff2'),
         url('connection.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'connectionBold';
    src: url('connectionbold.woff2') format('woff2'),
         url('connectionbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}