/* purgecss start ignore */
.vue-flux {
  width: 100%;
  margin-top: 0.15rem;
}

// BOURBON BACKGROUND
body.bourbon .vue-flux {
  box-shadow: none;
  height: calc(100vw * 361 / 1280.0);
  max-height: 361px;
  min-height: 361px;
  // max-width: 1280px;
  // margin: 0 auto;

  @media (max-width: $breakThou) {
    // min-width: 100%;
    height: calc(100vw * 700.0 / 1280.0);
    max-height: 700px;
    min-height: initial;
    // max-width: 1280px;
    // border: 2px solid green;
  }

}

// GROOVY BACKGROUND
body.groovy .vue-flux {
  height: calc(100vw * 331 / 1280.0);
  max-height: 331px;
  min-height: 331px;
  // max-width: 1280px;
  // margin: 0 auto;

  @media (max-width: $breakThou) {
    // min-width: 100%;
    height: calc(100vw * 700.0 / 1280.0);
    max-height: 700px;
    min-height: initial;
    // max-width: 1280px;
    // border: 2px solid green;
  }

  @media (max-width: 462px) {
    min-height: initial;
  }
}

// TECHY BACKGROUND
body.techy .vue-flux {
  height: calc(100vw * 328.5 / 1280.0);
  max-height: 328.5px;
  min-height: 328.5px;
  // max-width: 1280px;
  // margin: 0 auto;

  @media (max-width: $breakThou) {
    // min-width: 100%;
    height: calc(100vw * 900.0 / 1280.0);
    max-height: 900px;
    min-height: initial;
    // max-width: 1280px;
    // border: 2px solid green;
  }

  @media (min-width: $breakTwo) {
    //
  }

  @media (min-width: 0px) and (max-width: 405px) {
    min-height: initial;
  }
}

// CORP BACKGROUND
body.corp .vue-flux {
  height: calc(100vw * 333 / 1280.0);
  max-height: 333px;
  min-height: 333px;
  // max-width: 1280px;
  // margin: 0 auto;

  @media (max-width: $breakThou) {
    // min-width: 100%;
    height: calc(100vw * 900.0 / 1280.0);
    max-height: 900px;
    min-height: initial;
    // max-width: 1280px;
    // border: 2px solid green;
  }
}

// PUNK BACKGROUND
body.punk .vue-flux {
  height: calc(100vw * 329 / 1280.0);
  max-height: 329px;
  min-height: 329px;
  // max-width: 1280px;
  // margin: 0 auto;

  @media (max-width: $breakThou) {
    // min-width: 100%;
    height: calc(100vw * 900.0 / 1280.0);
    max-height: 900px;
    min-height: initial;
    // max-width: 1280px;
    // border: 2px solid green;
  }

}

.flux-image {
  border: 1px solid transparentize($black, 0.85);
  margin-top: .0rem;

  // @media only screen and (min-device-width: 375px) and (max-device-width: 660px) and (-webkit-min-device-pixel-ratio: 2) {
  //   grid-row-gap: 0em;
  // }

  // // IPAD LANDSCAPE
  // @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  //   grid-row-gap: 0em;
  // }

  img {
    background-size: cover;
    margin: 0px;
  }

}
/* purgecss end ignore */

