/* purgecss start ignore */
.vue-flux {
  @include clearfix;
}
// BOURBON BACKGROUND
body.bourbon .vue-flux {
  box-shadow: none;
  min-height: 352px;

  @media (min-width: $breakTwo) {
    min-height: 352px;
  }

  @media (min-width: $breakThree) {
    min-height: 352px;
  }

  @media (max-width: 462px) {
    min-height: initial;
  }
}

// GROOVY BACKGROUND
body.groovy .vue-flux {
  min-height: 331px;

  @media (min-width: $breakThree) {
    min-height: 331px;
  }

  @media (max-width: 462px) {
    min-height: initial;
  }
}

// TECHY BACKGROUND
body.techy .vue-flux {
  min-height: 324px;

  @media (min-width: $breakThree) {
    //
  }

  @media (min-width: $breakTwo) {
    //
  }

  @media (min-width: 0px) and (max-width: 405px) {
    min-height: initial;
  }
}

// CORP BACKGROUND
body.corp .vue-flux {
  min-height: 331px;

  @media (min-width: $breakThree) {
    min-height: 331px;
  }

  @media (max-width: 462px) {
    min-height: initial;
  }
}

// PUNK BACKGROUND
body.punk .vue-flux {
  min-height: 323px;
  box-shadow: none !important;

  @media (min-width: $breakThree) {
    min-height: 323px;
  }

  @media (max-width: 462px) {
    min-height: initial;
  }
}

.flux-image {
  border: 1px solid transparentize($black, 0.85);
  margin-top: .25rem;
  background-size: contain;
  @include clearfix;

  @media only screen and (min-device-width: 375px) and (max-device-width: 660px) and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 0.25em;
    grid-row-gap: 0em;
  }

  // IPAD LANDSCAPE
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    margin-top: 0.25em;
    grid-row-gap: 0em;
  }

  img {
    background-size: cover;
    margin: 0px;
  }

}
/* purgecss end ignore */

