$mortar: .25rem;

.vueperslides {
  padding: 0rem 0rem;
}

// .body.punk .vueperslides {
//   padding: 0rem 0.2rem !important;
// }

.vueperslides__parallax-wrapper {
  height: 200px;
  margin-top: $mortar;
}

.groovy .vueperslides__parallax-wrapper {
  height: 177.5px;
  margin-top: $mortar;
}

.techy .vueperslides__parallax-wrapper {
  height: 175px;
  margin-top: $mortar;
}

.corp .vueperslides__parallax-wrapper {
  height: 166.85px;
  margin-top: $mortar;
}

.punk .vueperslides__parallax-wrapper {
  height: 188.5px;
  // margin-top: $mortar;
}

.vueperslides__arrow {
  color: hsl(0deg 0% 0% / 80%);
}

.vueperslides__arrow svg {
  // vertical-align: middle;
  // stroke: currentColor;
  // fill: none;
  width: 3em;
  // padding: 1em;
  stroke-width: 1;
  // -webkit-box-sizing: border-box;
  // box-sizing: border-box;
}

.vueperslides__progress {
  color: rgba(150, 27, 27, 0.616);
  // top: initial;
  top: calc(100% - 4px);
  height: 4px;
  // border: 1px solid magenta;
}

.vueperslides__fractions {
  position: absolute;
  top: initial;
  left: initial;
  bottom: $mortar !important;
  right: $mortar !important;
  z-index: 2;
  padding: 0.15em 0.5em;
  border: 1px solid hsl(0deg 0% 100% / 27%);
  border-radius: 0.4em;
  background: hsl(0deg 0% 32% / 32%);
  color: hsl(0deg 0% 100%);
  font-family: Helvetica, Arial, sans-serif !important;
}

.fullScreen {
  cursor: pointer;
}
