// ORDER
// xAni-enter-from  -> START
// xAni-enter-to -> FINAL
// xAni-enter-active -> TWEEN
//
// xAni-leave-from -> START
// xAni-leave-to -> FINAL
// xAni-leave-active -> TWEEN
// ----->>>

// CSS GROUPS
// xAni-enter-from
// xAni-enter-to
// xAni-enter-active
//
// xAni-leave-from
// xAni-leave-to
// xAni-leave-active
// ----->>>

// FADE
.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: opacity 1s;
  // transition-delay: 2s;
}
.fade-leave-active {
  transition: opacity .25s;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}

.fader-enter-active {
  animation: fader .5s;
}
.fader-leave-active {
  animation: fader .5s reverse;
}
@keyframes fader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce-enter-active {
  animation: bounce-in 1s;
}
.bounce-leave-active {
  animation: bounce-in 1s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
  }
  85% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


// FADE TWO
.testAni-enter-from {
  opacity: 0;
  background-color: red;
}
.testAni-enter-to {
  opacity: 1;
  background-color: blue;
}
.testAni-enter-active {
  transition: opacity 1s;
  transition-delay: 2s;
}
.testAni-leave-active {
  transition: opacity 0s;
}
.testAni-leave-from {
  opacity: 1;
  background-color: blue;
}
.testAni-leave-to {
  opacity: 0;
  background-color: red;
}
