$baseTime: .1s;

// bounce
.bounce-enter-active {
  animation: bounce-in .75s;
}
.bounce-leave-active {
  animation: bounce-in .25s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  75% {
    transform: scale(1.015);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// bounce2
.bounce2-enter-active {
  animation: bounce-in 1s;
}
.bounce2-leave-active {
  animation: bounce-in .25s reverse;
}


// bounce3
.bounce3-enter-active {
  animation: bounce-in 1.25s;
}
.bounce3-leave-active {
  animation: bounce-in .25s reverse;
}

// bounce4
.bounce4-enter-active {
  animation: bounce-in 1.5s;
}
.bounce4-leave-active {
  animation: bounce-in .25s reverse;
}

// bounce5
.bounce5-enter-active {
  animation: bounce-in 1.75s;
}
.bounce5-leave-active {
  animation: bounce-in .25s reverse;
}
// bounce6
.bounce6-enter-active {
  animation: bounce-in 2s;
}
.bounce6-leave-active {
  animation: bounce-in .25s reverse;
}
// bounce7
.bounce7-enter-active {
  animation: bounce-in 2.25s;
}
.bounce7-leave-active {
  animation: bounce-in .25s reverse;
}



// Fader
.fader-enter-active {
  animation: fader 1s;
}
.fader-leave-active {
  animation: fader .5s reverse;
}
@keyframes fader {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}













// FADE
// FADE
.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition-duration: 1s;
  // transition-delay: 1s;
}
.fade-leave-active {
  transition-duration: 1s;
  // transition-delay: 1s;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
