$timeBase: 1;

// bounce
.bounce-enter-active {
  animation: bounce-in ($timeBase * .25 + s);
}
.bounce-leave-active {
  animation: bounce-in ($timeBase * .25 + s) reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  85% {
    transform: scale(1.015);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// bounce2
.bounce2-enter-active {
  animation: bounce-in ($timeBase * 1 + s);
}
.bounce2-leave-active {
  animation: bounce-in ($timeBase * .25 + s) reverse;
}

// bounce3
.bounce3-enter-active {
  animation: bounce-in ($timeBase * 1.25 + s);
}
.bounce3-leave-active {
  animation: bounce-in ($timeBase * .25 + s) reverse;
}

// bounce4
.bounce4-enter-active {
  animation: bounce-in ($timeBase * 1.5 + s);
}
.bounce4-leave-active {
  animation: bounce-in ($timeBase * .25 + s) reverse;
}

// bounce5
.bounce5-enter-active {
  animation: bounce-in($timeBase * 1.75 + s);
}
.bounce5-leave-active {
  animation: bounce-in ($timeBase * .25 + s) reverse;
}

// bounce6
.bounce6-enter-active {
  animation: bounce-in ($timeBase * 2 + s);
}
.bounce6-leave-active {
  animation: bounce-in ($timeBase * .25 + s) reverse;
}

// bounce7
.bounce7-enter-active {
  animation: bounce-in ($timeBase * 2.25 + s);
}
.bounce7-leave-active {
  animation: bounce-in ($timeBase * .25 + s) reverse;
}



// Fader
.fader-enter-active {
  animation: fader .75s;
}
.fader-leave-active {
  animation: fader 0s reverse;
}
@keyframes fader {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}













// FADE
// FADE
.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition-duration: 1s;
  // transition-delay: 1s;
}
.fade-leave-active {
  transition-duration: 1s;
  // transition-delay: 1s;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
