
/*
Cormorant Garamond Light
*/
@font-face {
    font-family: 'cormorantGaramond-Light';
    src: url('CormorantGaramond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/*
Cormorant Garamond Light Italic
*/
@font-face {
    font-family: 'cormorantGaramond-Light-Italic';
    src: url('CormorantGaramond-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/*
Cormorant Garamond Regular
*/
@font-face {
    font-family: 'cormorantGaramond-Regular';
    src: url('CormorantGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
Cormorant Garamond Italic
*/
@font-face {
    font-family: 'cormorantGaramond-Italic';
    src: url('CormorantGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/*
Cormorant Garamond Medium
*/
@font-face {
    font-family: 'cormorantGaramond-Medium';
    src: url('CormorantGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/*
Cormorant Garamond Medium Italic
*/
@font-face {
    font-family: 'cormorantGaramond-Medium-Italic';
    src: url('CormorantGaramond-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/*
Cormorant Garamond Semi-Bold
*/
@font-face {
    font-family: 'cormorantGaramond-Semi-Bold';
    src: url('CormorantGaramond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/*
Cormorant Garamond Semi-Bold Italic
*/
@font-face {
    font-family: 'cormorantGaramond-Semi-Bold-Italic';
    src: url('CormorantGaramond-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/*
Cormorant Garamond Bold
*/
@font-face {
    font-family: 'cormorantGaramond-Bold';
    src: url('CormorantGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*
Cormorant Garamond Bold Italic
*/
@font-face {
    font-family: 'cormorantGaramond-Bold-Italic';
    src: url('CormorantGaramond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

