@import '@/assets/css/utilities/_Autilities_base.scss';

// FONTS
$base-font-size   :1rem;
$base-line-height :1.5em;
$font-light       :Questrial, "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-med         :"cormorantGaramond-Regular", "Times New Roman", Times, serif;
$font             :TheanoModern-Regular, "Times New Roman", Times, serif;
$font-head        :TheanoModern-Regular, "Times New Roman", Times, serif;
$font-subhead     :TheanoModern-Regular, "Times New Roman", Times, serif;
$font-copy        :TheanoModern-Regular, "Times New Roman", Times, serif;

// ############################

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background: #e2e0f1;
  margin: 0;
}
