@import '@/assets/css/utilities/_Autilities_base.scss';

// FONTS
$base-font-size   :1rem;
$base-line-height :1.7em;
$font-light       :Questrial, "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-med         :"cormorantGaramond-Regular", "Times New Roman", Times, serif;
$font             :cormorantGaramond-Semi-Bold, "Times New Roman", Times, serif;
$font-head        :cormorantGaramond-Regular, "Times New Roman", Times, serif;
$font-subhead     :cormorantGaramond-Semi-Bold, "Times New Roman", Times, serif;
$font-copy        :cormorantGaramond-Semi-Bold, "Times New Roman", Times, serif;

// ############################

html, html a {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background: #e2e0f1;
  margin: 0;
}

.wrapper {
  // background: url(/public/img/bg/linen.png) repeat !important;
}
